.navbar-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blueviolet;
}
.navbar-links{
    display: flex;
    margin: 1rem;
}

.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    color: white;
    padding: 0.9rem;
    text-decoration: none;
}
.navbar-links li a:hover{
    background-color: white;
    border-radius: 5px;
    color: black;
    transition: 0.5s;
}

